body #float-whatsapp a {
    position: fixed;
    right: 16px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-image: linear-gradient(to right, #209142, #56d263);
    text-decoration: none;
    z-index: 99;
}

body #float-whatsapp a i{
    font-size: 48px;
    color: #fff;
}

body .listagem .listagem-linha li .listagem-item .imagem-produto {
    max-height: 300px;
}

body .listagem .imagem-produto img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

body .listagem .listagem-item .imagem-produto.has-zoom .imagem-zoom {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

body .listagem .listagem-linha > ul {
    margin: 0;
}

body .atalhos-mobile{
    position: sticky;
}

body #topo-slider {
    height: 50px;
    padding: 15px 25px;
    text-align: center;
    background: #111;
}

body #topo-slider .flex-viewport {
    height: 100%;
}

body #topo-slider .slides {
    height: 100%;
    zoom: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

body #topo-slider ul li {
    color: #fff;
}

body #topo-slider ul li a {
    text-decoration: none;
    color: #fff;
}

body #topo-slider ul li a strong {
    color: #fff;
}

@media only screen and (max-width: 767px)  {
    body body #topo-slider .flex-direction-nav {
        display: none;
    }
}
